<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.swashcap.hoodrivercurl</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/creed/Projects/hood-river-curl/run.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/creed/Projects/hood-river-curl</string>
    <key>ExitTimeOut</key>
    <integer>5</integer>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>StandardOutPath</key>
    <string>/Users/creed/Projects/hood-river-curl/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/creed/Projects/hood-river-curl/stderr.log</string>
  </dict>
</plist>
